// Color
$white : #fff;
$mostly-black : #232323;
$mostly-black-rgba : rgba(23, 23, 23, 0.7);
$Very-dark-gray : #333333;
$gray :rgb(153, 153, 153);
$light-gray:#e8e8e8;
$mostly-pure : #00a2ff;
$soft-blue :#5474fd;
$bright-blue : #496bfe;
$light-red : #ff6363;


// Fonts
$font-josefin: 'Josefin Sans', sans-serif;
$font-aleo:'Aleo', serif;
// Gradient

// Shadow

// Path

